# dependencies
node_modules

# build output
dist
dist-ssr

# backend binaries produced by `bun run build:backend`
src-tauri/resources

# misc
.DS_Store
*.local
*.log

# editor
.vscode/*
!.vscode/extensions.json
.idea
